.board {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  float: left;
}

.square {
  background-color: black;
  border: 1px solid #202020;
  /*border: 1px solid black;*/
  height: 20px;
  width: 20px;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}

.gameover {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 999;
}
