.row {
  float: left;
}

.square {
  background-color: black;
  border: 1px solid #035096;
  height: 20px;
  width: 20px;
}

.snake {
  background-color: #2C75FF;
}

.apple {
  background-color: FFE64D;
}
